<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Kerr Marin Miller - Web and Mobile developer</title>
<meta name="description" content="Kerr Marin Miller is a web and mobile developer.">
<meta name="keywords" content="Kerr, Kerr Marin Miller, Kerr Marin Miller homepage, mobile, mobile dev, mobile developer, web dev, web developer, mobile and web developer">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
