@import 'fonts';

$medium-font:'GothamMedium', Helvetica, sans-serif;
$light-font:'GothamLight', Helvetica, sans-serif;

/*
Styles
*/
body {
  background: url('../img/5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/5.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/5.jpg', sizingMethod='scale')";
  padding-top: 60px;
  padding-bottom: 40px;
}

.description {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

div.container-narrow {
	max-width:700px;
	margin:0 auto;
}

.jumbo {
	margin-top:10%;

  .title {
  	font-size: 9em;
  	font-family: $medium-font;
  	line-height: 0.8em;
  }

  .prominent {
  	font-size:2em;
  }
}

p {
	font-family: $light-font;
	text-transform: uppercase;
	color:white;
	line-height: 1.3em;
}

.secondary {
	font-size: 1.5em;
}

.span4{
	line-height: 3.5em;
}

.span4 img {
	cursor: pointer;
}

strong {
	font-family: $medium-font;
}

a {
	color:white;
	text-decoration: none;
}

a:hover {
	color:rgba(90,102,114,1);
	text-decoration:none;
}

.fancybox-title-float-wrap {
    margin-bottom:-55px;
}

.fancybox-title-float-wrap .child {
    white-space: normal;
}

/*
* iPhone
*/

@media screen and (max-width: 480px) {
	.jumbo .title {
		font-size: 6em;
	}

	.jumbo .prominent {
		font-size: 1.3em;
	}

	.secondary {
		font-size:1.1em;
	}
}
